.HomeCharacters-card{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
	
	
  }
.HomeCharacters{
  font-family: "IM Fell DW Pica";
  color : white;
}
