/*****star background*****/

.test {

	bottom: 0;
	content: " ";
	left: 0;
	right: 0;
	position: absolute;
	top: 0;
	z-index: 100;
  }
  canvas{
	  height:100vh !important;
  }

h1{
    color:white;
    margin-top: 0px;
}

/*******/
.stories-title {
    font-size : 5em;
}
.stories-cave{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.stories-image{
    height: 300px;
    width: 300px;
    -webkit-filter: grayscale(0) blur(0px);
  filter: grayscale(0) blur(0px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.stories-image:hover{
    width:350px;
    height:350px;
    border-radius: 50%;  /* on arrondit l'image */
  -webkit-transform: rotate(360deg); /* rotation de l'image */
  transform: rotate(360deg);
}


.stories-card{
    display: flex;
    justify-content: space-around;
}

.stories-choice{
    text-decoration: none;
    font-size: 3em;
    color:white;
    margin-top: 30px;
}

.stories-choice:hover{
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}
.stories-choice:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}
.stories-choice:active {
    color: #000
}

.stories-choice:active:after {
    background: transparent;
}

.stories-choice:hover:before {
    opacity: 1;
}

.stories-choice:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}