.fightZone{
color: white;
font-size: 4em;
font-family: "IM Fell DW Pica";
margin-top: 0;
}


.fightZone-poing{
    height: 40px;
    width: 40px;
}
.fightZone-defense{
    display: flex;
    justify-content: center;
    font-size:2em ;
    font-family: "IM Fell DW Pica";
    color : white;
    height: 100px;
    
}

.fightZone-button-card{
    display: flex;
}

.fightZone-btn{
    padding: 6px;
}

.fightZone-container{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
}

.fightZone-character-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border: 1px solid #ffe300;
    border-radius:2%;
    font-size: 2.5vh;
    height:78vh;
    background-image: url("./../../assets/spaceBackground.jpg");
  }
  .fightZone-character-card >img{
    width: 26vh;
    height: 26vh;
    position: relative;
    top : 4px;
 
    
  }

  .characters-card-id{
    padding: 0;
    margin: 3px;
    color: white;
  }