form,.labelOne,.labelTwo{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

small{
    color:red;
}

input{
    border-radius:3%;
}