.home{
    background-image: url("./../assets/spaceBackground.jpg");
    width: 100%;
    height: 100vh;
    background-size : cover;
    margin :0;
    Padding : 0;
}
 

.home-title-and-button{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-content: space-between;
    margin: auto;
    height: 70vh;
    }

.home-st-grool-title{
    font-family: "IM Fell DW Pica";
    color : white;
    font-size: 10vh;
}
.home-play-button{
    font-family: "IM Fell DW Pica";
    font-size : 10vh;
    color : white;
    text-decoration: none;
}

.home-st-grool{
    display: flex;
    justify-content: center;
    padding-bottom: 15vh;
}